body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.metronome {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
}
.bpm-slider input {
  width: 100%;
  margin: 10px;
}
.metronome button {
  background: #c94d46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
}
